body {
    background-color: lightpink;
}
a{
    color: mediumpurple;
}
#p1{
    color:navy;
    font-size: 55px;
    
}
#p2{
    color:navy;
    font-size: 25px;
}
#divindex {        
    padding: 15px;
    text-align: center;
    width: 75%;
    border: solid; 
    border-color:navy;
    border-width: 2px; 
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 170px; 
    margin-right: 150px;
    float: center; 
    box-sizing: border-box;
}
a:hover { 
    color: white;
}