body {
    background-color: lightpink;
}
iframe{
    padding: 20px;
    margin: 30px;
    margin-left: 265px;
    margin-right: 255px;
}
a{
    color: mediumpurple;}
p{
    color:navy;
}
a:hover { 
    color: white;
}